#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }


.hr-c{
  border-top: 1px dashed white;
  /* border-radius: 5px; */
}

/* .content-links{
  
} */

.content-links li{
  list-style-type: circle;
}

.content-links li a{
  color: skyblue;
  text-decoration: none;
}

.content-links li a:hover{
  /* color: cyan; */
  text-decoration: underline;
}


a {
  color: skyblue !important;
  text-decoration: none !important;
}

a:hover {
  /* color: cyan; */
  text-decoration: underline !important;
}

.gallery-card{
  min-width: 250px !important;
  max-width: 250px !important;
}

.gallery-card-header{
  background-color: #000000;
  padding: .25rem;
  margin: 0;
  text-align: center;
}


.video-scroll-container {
  overflow-x: hidden; /* Default to hidden overflow */
}

@media (max-width: 576px) {
  .video-scroll-container {
      overflow-x: auto; /* Enable horizontal scrolling on small devices */
      white-space: nowrap; /* Prevent line breaks */
  }

  .video-scroll-container .row {
    display: inline-flex; /* Align items in a row */
    flex-wrap: nowrap; /* Prevent line breaks */
  }

  .video-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the content */
    justify-content: center; /* Center align the content */
    height: 250px; /* Set a fixed height for the video wrapper */
  }

  .video {
      width: 250px; /* Make the video take the full width of the wrapper */
      height: auto; /* Maintain aspect ratio */
      max-height: 100%; /* Ensure the video does not exceed the wrapper height */
  }
}
